juegos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="juegos" type="juegosType"/>
  <xs:complexType name="nombreType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="codigo" use="optional"/>
        <xs:attribute type="xs:string" name="idioma" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="precioType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="moneda" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="sinopsisType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="codigoDeJuego" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="juegoType">
    <xs:sequence>
      <xs:element type="nombreType" name="nombre"/>
      <xs:element type="xs:string" name="plataforma"/>
      <xs:element type="precioType" name="precio"/>
      <xs:element type="sinopsisType" name="sinopsis"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="juegosType">
    <xs:sequence>
      <xs:element type="juegoType" name="juego" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>